.breadcrumbs {
  display: none;
  margin-bottom: 24px;
  gap: 8px;

  @include onPortable {
    margin-bottom: 40px;
  }

  &--visible {
    display: flex;
  }

  &__item {
    
    font-size: 12px;
    font-weight: 600;

    &--link {
      color: $primary-color;
      position: relative;
      line-height: 20px;
      bottom: 3px;
      cursor: pointer;
      

      &:hover {
        color: $secondary-color;
      }
      
      &:hover::after {
        content: "";
        position: absolute;
        background-color: $secondary-color;
        bottom: 0;
        width: 100%;
        left: 0;
        height: 2px;
        border-radius: 8px;
      }
  
    }

    &--title {
      color: $secondary-color;
      bottom: 3px;
      position: relative;
      line-height: 20px;
    }
  }

  &__arrow {
    height: 16px;
  }
}