.card {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  border-radius: 8px;
  border: 1px solid $elements-color;
  background-color: $white;

  width: 212px;
  padding: 32px;

  @include onPortable {
    width: 240px;
  }

  @include onDesktop {
    width: 272px;
  }

  &__image {
    width: 208px;
    height: 196px;
    margin: 0 0 24px;
  }

  &__name {
    color: $primary-color;
    text-align: center;
    word-wrap: break-word;
    align-self: center;
  
    max-width: 148px;

    @include onPortable {
      max-width: 173px;
    }
  
    @include onDesktop {
      max-width: 208px;
    }
  }

  &__price {
    display: flex;
    margin: 8px 0;

    &-new {
      margin-right: 8px;
      color: $primary-color;
    }

    &-old {
      text-decoration-line: line-through;
      color: $secondary-color;
    }
  }

  &__line {
    box-sizing: border-box;
    height: 0;
    border: 1px solid $elements-color;
    border-radius: 8px;
  }

  &__characteristics {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
  }

  &__char {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    &-text {
      color: $secondary-color;
    }

    &-number {
      color: $primary-color;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}
