$white: #ffffff;
$elements-color: #e2e6e9;
$accent-color: #4219d0;
@mixin onPortable {
  @media (min-width: 640px) {
    @content;
  }
}
@mixin onDesktop {
  @media (min-width: 1440px) {
    @content;
  }
}

.modal {
  &__container {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
  }
  
  &__content {
    background-color: $white;
    width: 300px;
    border: 1px solid $elements-color;
    border-radius: 16px;
    display: block;
    text-align: center;
    padding: 36px;
  
    @include onPortable {
      width: 400px;
    }

    @include onDesktop {
      width: 600px;
    }
  }
  
  &__text {
    margin-bottom: 16px;
  }
  
  &__line {
    height: 0;
    border: 1px solid $elements-color;
    margin-bottom: 16px;
  }
  
  &__buttons_container {
    display: flex;
    justify-content: space-evenly;
  }
  
  &__button {
    height: 40px;
    width: 100px;
    border-radius: 48px;
    background-color: $accent-color;
    color: $white;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: 0px 3px 13px rgba(21, 25, 31, 0.4);
    }
  
    @include onPortable {
      width: 160px;
    }

    @include onDesktop {
      width: 300px;
    }
  }

}