.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin-bottom: 24px;
    // align-self: flex-start;

    @include onPortable {
      align-self: flex-start;
    }
  }

  &__content {
    @include onPortable {
      display: flex;
      gap: 16px;
    }
  }
}

.category {
  box-sizing: border-box;
  padding-bottom: 32px;
  transition:
    border 1s,
    border-radius 1s;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;

  &:hover {
    border-radius: 40px;
    border: 1px solid $primary-color;
    // background: rgb(249, 248, 248);
  }
  &__img {
    max-width: 100%;
    width: auto;
    height: auto;

    @include onPortable {
      max-width: 100%;
      width: 187px;
      height: 187px;
      margin-bottom: 0;
    }

    @include onDesktop {
      width: 368px;
      height: 368px;
    }
  }
  &__text-container {
    max-width: 288px;
    padding: 10px 10px;
  }

  &__heading {
    color: $primary-color;
  }
  &__text {
    color: $secondary-color;
  }
}
