.goodsSliderCollection {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  position: relative; /* Додали позицію relative для батьківського контейнера */

  /* Додали псевдоелемент ::after */
  // &::after {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   right: 0; /* Скриваємо 100 пікселів зліва */
  //   width: 100px;
  //   height: 89%;
  //   background: rgb(216, 8, 8);
  //   background: linear-gradient(
  //     to left,
  //     rgb(255, 255, 255),
  //     rgba(255, 255, 255, 0.443)
  //   ); /* Додаємо тінь зліва */
  // }

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }

  &__slides-container {
    display: flex;
    flex: 1;
  }

  &__slides {
    display: flex;
    flex: 1;
    transition: transform 0.5s ease-in-out;
  }

  &__slide {
    box-sizing: border-box;
    margin-left: 16px;
  }
}
