.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  box-shadow: 0px 1px 0px 0px $elements-color;
 
}

.nav-and-logo {
  display: flex;
  align-items: center;
}

.nav {
  &__list {
    display: none;
    margin-left: 48px;
    padding: 0;
  
    @include onPortable {
      display: flex;
    }
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 100%;
    margin-left: 24px;
    position: relative;
    height: 48px;
  
    &:first-child {
      margin-left: 0;
    }

    @include onDesktop {
      margin-left: 48px;
      line-height: 64px;
    }
  }

  &__link {
    @include uppercase;
    color: $secondary-color;

    @include onPortable {
      font-size: 11px;
    }
  
    &:hover {
      color: $primary-color;
    }

    &:focus {
      color: $primary-color;
    }
    
    &:hover::after {
      content: "";
      position: absolute;
      background-color: $primary-color;
      bottom: 0;
      width: 100%;
      left: 0;
      height: 3px;
      border-radius: 8px;

      @include onPortable {
        bottom: -8px;
      };

      @include onDesktop {
        bottom: -8px;
      }
    }

    &:focus::after {
      content: "";
      position: absolute;
      background-color: $primary-color;
      bottom: 0;
      width: 100%;
      left: 0;
      height: 3px;
      border-radius: 8px;

      @include onPortable {
        bottom: -8px;
      };

      @include onDesktop {
        bottom: -8px;
      }
    }
  }
}

.side-buttons {
  display: flex;
  align-items: center;
}

.side-button {
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 0px 0px 0px $elements-color;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;


  @include onPortable {
    width: 64px;
    height: 64px;
  }

  &:focus::after {
    content: "";
    position: absolute;
    background-color: $primary-color;
    bottom: -5px;
    width: 100%;
    left: 0;
    height: 3px;
    border-radius: 8px;

    @include onPortable {
      bottom: -4px;
    };

    @include onDesktop {
      bottom: -4px;
    }
  }
  
  &--cart {
    display: none;
  
    @include onPortable {
      display: flex;
    }

    
  }

  &--favourites {
    display: none;

    @include onPortable {
      display: flex;
    }
  }
}

@include onPortable {
  .side-button--burger {
    display: none;
  }
}

.icon__counter {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $accent-color;
  color: $white;
  font-size: 9px;
  font-weight: 700;
  text-align: center;
  align-items: center;

  &--like {
    position: absolute;
    top: 18px;
    right: 15px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $accent-color;
    color: $white;
    font-size: 9px;
    font-weight: 700;
    text-align: center;
    align-items: center;
  }
}
