.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  box-shadow: 0px 1px 0px 0px $elements-color;
}

.nav-and-logo {
  display: flex;
  align-items: center;
}

.nav {
  &__list {
    display: none;
    margin-left: 48px;
    padding: 0;
  
    @include onPortable {
      display: flex;
    }
  }

  &__item {
    margin-left: 32px;
    position: relative;
    line-height: 48px;
  
    &:first-child {
      margin-left: 0;
    }

    @include onDesktop {
      margin-left: 48px;
      line-height: 64px;
    }
  }

  &__link {
    @include uppercase;
    color: $secondary-color;

    @include onPortable {
      font-size: 11px;
    }
  
    &:hover {
      color: $primary-color;
    }
    
    &:hover::after {
      content: "";
      position: absolute;
      background-color: $primary-color;
      bottom: 0;
      width: 100%;
      left: 0;
      height: 3px;
      border-radius: 8px;

      @include onPortable {
        bottom: -8px;
      };

      @include onDesktop {
        bottom: 0px;
      }
    }
  }
}

.side-buttons {
  display: flex;
}

.side-button {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 0px 0px 0px $elements-color;

  @include onPortable {
    width: 64px;
    height: 64px;
  }
  
  &--cart {
    display: none;
  
    @include onPortable {
      display: flex;
    }
  }

  &--favourites {
    display: none;

    @include onPortable {
      display: flex;
    }
  }
}

@include onPortable {
  .side-button--burger {
    display: none;
  }
}
