.pagination {
    display: flex;
    gap: 24px;
    align-self: center;
    margin-bottom: 64px;

    @include onDesktop {
      margin-bottom: 80px;
    }
    
    &__buttons {
        display: flex;
        gap: 8px;
    }
}