@mixin onPortable {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1440px) {
    @content;
  }
}

.registration {

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;

  }

  &__img {
    max-width: 300px;
    display: none;
    flex-grow: 1;

    @include onPortable {
      display: block;
      max-width: 300px;
    }
    @include onDesktop {
      max-width: 500px;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 2;
    padding: 16px;
  }

  &--title {
    margin-bottom: 8px;
  }

  &__group {
    margin-bottom: 15px;
    display: flex;
    // max-width: 500px;
    min-width: 200px;
    flex-direction: column;

    &--input {
      width: 100%;
      padding: 5px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 48px;
    }
  }
}