.paginationButton {
  @include flex-center;
  @include draw-Circle(32px, 32px);
  border: 1px solid $elements-color;
  transform: all 0.5 ease;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    border: 1px solid $primary-color;
  }
  &--selected {
    background: $primary-color;
    color: $white;
    border: none;
    &:hover {
      border: none;
    }
  }
}

// <div className="puginationButton puginationButton--selected"><p className="text">1</p></div>
