body {
  @include montserrat;
}

h1 {
  @include h1;
}

.header-margin {
  margin-bottom: 24px;
  @include onPortable {
    margin-bottom: 32px;
  }
  @include onDesktop {
    margin-bottom: 56px;
  }
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

.text {
  @include text;
}

.small-text {
  @include small-text;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0;

  @include onPortable {
    max-width: 600px;
  }

  @include onDesktop {
    max-width: 1140px;
  }
}

.section {
  // padding: 0 16px;
  margin-bottom: 56px;

  @include onPortable {
    padding: 0;
    margin-bottom: 64px;
  }
  @include onDesktop {
    margin-bottom: 80px;
  }
}
