.about {
  &__title {
    margin-bottom: 16px;
  }

  &__articles {
    border-top: 1px solid $elements-color;
  }
}

.article {
  margin-top: 32px;

  &__title {
    padding-bottom: 16px;
  }

  &__text {
    color: $secondary-color;
  }
}