$Accent-Color: #4219d0;
$SecondaryAccent-Color: #f4ba47;
$Primary-Color: #0f0f11;
$ASecondary-Color: #89939a;
$Icons-Color: #b4bdc3;
$Elements-Color: #e2e6e9;
$Hover-BG-Color: #fafbfc;
$White: #ffffff;
$Green: #27ae60;
$Red: #eb5757;