$accent-color: #4219d0;
$secondaryAccent-color: #f4ba47;
$primary-color: #0f0f11;
$secondary-color: #89939a;
$icons-color: #b4bdc3;
$elements-color: #e2e6e9;
$hover-BG-color: #fafbfc;
$white: #ffffff;
$green: #27ae60;
$red: #eb5757;
$not-found-text: #455b63;
$menu-item-hover: #313237;

$accent-color-dark: #935cfb;
$secondary-color-dark: #75767F;
$icons-color-dark: #4A4D58;
$elements-color-dark: #3B3E4A;
$surface-1-dark: #161827;
$surface-2-dark: #323542;
$black-dark: #0F1121;
$white-dark: #F1F2F9;


$home-icon: url('../../images/Home.svg');
$search-icon: url('../../images/Search.svg');
$search-icon: url('../../images/Search.svg');
$shoping-bag-icon: url('../../images/Cart.svg');
$like-icon: url('../../images/Like.svg');
$like-filled-icon: url('../../images/like-filled.svg');
$like-icon: url('../../images/Like.svg');
$like-dark: url('../../images/like-dark.svg');
$minus-icon: url('../../images/Minus.svg');
$plus-icon: url('../../images/Plus.svg');
$close-icon: url('../../images/Close.svg');
$arrow-left-icon: url('../../images/arrow-left-large.svg');
$arrow-right-icon: url('../../images/arrow-right-large.svg');
$arrow-left-dark: url('../../images//arrow-left-dark.svg');
$arrow-right-dark: url('../../images//arrow-right-dark.svg');
$arrow-up-icon: url('../../images/arrow-up.svg');
$arrow-down-icon: url('../../images/arrow-down.svg');
$menu-icon: url('../../images/Menu.svg');
$minus-dark: url('../../images/minus-dark.svg');
$plus-dark: url('../../images/plus-dark.svg');
