$accent-color: #4219d0;
$secondaryAccent-color: #f4ba47;
$primary-color: #0f0f11;
$secondary-color: #89939a;
$icons-color: #b4bdc3;
$elements-color: #e2e6e9;
$hover-BG-color: #fafbfc;
$white: #ffffff;
$green: #27ae60;
$red: #eb5757;


$home-icon: url('../../images/Home.svg');
$search-icon: url('../../images/Search.svg');
$search-icon: url('../../images/Search.svg');
$shoping-bag-icon: url('../../images/Cart.svg');
$like-filled-icon: url('../../images/like-filled.svg');
$like-icon: url('../../images/Like.svg');
$minus-icon: url('../../images/Minus.svg');
$plus-icon: url('../../images/Plus.svg');
$close-icon: url('../../images/Close.svg');
$arrow-left-icon: url('../../images/arrow-left.svg');
$arrow-right-icon: url('../../images/arrow-right.svg');
$arrow-up-icon: url('../../images/arrow-up.svg');
$arrow-down-icon: url('../../images/arrow-down.svg');
$menu-icon: url('../../images/Menu.svg');