@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@400;600;700&display=swap');


$gray-secondary: #89939A;

.phones-container {
  padding-top: 24px;
  max-width: 272px;
  margin: 0 auto;

  @media (min-width: 640px) {
    max-width: 560px;
  }

  @media (min-width: 1440px) {
    max-width: 1120px;
  }
}

.phones-count {
  font-family: Montserrat;
  color: $gray-secondary;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 40px;
  display: block;
}

.dropdown-container {
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
  
  &__text {
    color: #89939A;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__item {
    width: 140px;
  }
}

.phones-list {
  display: grid;
  justify-content: center;
  gap: 40px;

  @media (min-width: 640px) {
    grid-template-columns: 272px 272px;
    gap: 40px 16px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: 272px 272px 272px 272px;
    gap: 40px 16px;
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 40px;

  &__text {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: flex-end;
  }

  &__home-icon {
    width: 16px;
    height: 16px;
  }

  &__arrow {
    width: 12px;
    height: 12px;
  }
}

.catalog-title {
  color: #0F0F11;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 41px;
  margin-bottom: 8px;
}