.slider {
    display: flex;
    gap: 19px;
}

.slider__content {
    display: flex;
    overflow: hidden;
    border-radius: 8px;

    width: 320px;
    height: 320px;
}

.slider__slide, .slide__img {
    width: 320px;
    height: 320px;
    background-size: cover;
}

.slider__button {
    display: none;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 32px;
    flex-shrink: 0;
    border-radius: 48px;
    border: 1px solid var(--gray-icons-placeholders, #B4BDC3);
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .slider__content {
        width: 490px;
        height: 189px;
    }

    .slider__button {
        display: flex;
        height: 189px;
    }

    .slider__slide, .slide__img {
        width: 490px;
        height: 189px;
        background-size: cover;
    }
}

@media screen and (min-width: 1200px) {
    .slider__content {
        width: 1040px;
        height: 400px;
    }

    .slider__slide, .slide__img {
        width: 1040px;
        height: 400px;
        background-size: cover;
    }

    .slider__button {
        height: 400px;
    }
}